.fixtwidth{
    width:1100px;
    margin: auto;
}
.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
}

/* header-section  */
.header-section {
    background-color: black;
    border-bottom: 1px solid #ddd;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999;
    width: 100%;

}
.header-logo{
    width: 35%;
    float: left;
    margin: 0;
}
.header-menu{
    width: 65%;
    float: right;
}
.header-logo img{
    width: 200px;
}
.praimary-menu{}
.praimary-menu ul{
}
.praimary-menu ul li{
    font-size: 15px;
    display: inline-block;
    padding: 0px 15px;
    cursor: pointer;
}
.praimary-menu ul li a{
    display: inline-block;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    position: relative;
}
.praimary-menu ul li a::before{
    content: '';
    height: 2px;
    width: 0;
    background-color: #fff;
    position: absolute;
    bottom: -15px;
    right: 50%;
    transition: .4s;
}
.praimary-menu ul li a::after{
    content: '';
    height: 2px;
    width: 0;
    background-color: #fff;
    position: absolute;
    bottom: -15px;
    left: 50%;
    transition: .4s;
}
.praimary-menu ul li a:hover::before{
    width: 50%;
}
.praimary-menu ul li a:hover::after{
    width: 50%;
}

/* drop down */
.praimary-menu ul li{
    position: relative; 
}
.praimary-menu ul li ul{
    position: absolute;
    top:100%;
    left: 0;
    width: 200px;px;
    background-color: #fff;
    color: black;
    margin-top: 20px;
    opacity: 0;
    visibility: hidden;
    transition: .4s;    
}
.praimary-menu ul li ul li{
    display: inline-block;
    transition: .2s;
    padding: 5px 0px; 
    margin-left: -41px; 
}
.praimary-menu ul li ul li:hover{
    background-color: #6d6d6d;
}
.praimary-menu ul li ul li a{
    display: block;
    margin-bottom: 15px;
    color: black;
    width: 241px;
    text-align: center;
}
.praimary-menu ul li ul li:hover a{
    color: black;
}
.praimary-menu ul li:hover ul{
    visibility: visible;
    opacity: 1;
    z-index: 10;
}

/* bannar-section */
.bannar-section{
    background-image: url(../img/bgc.jpg);
    padding: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .95;
}
.bannar-title{
    color: #fff;
    line-height:3em;
}
.bannar-title h2 .box{
    height: 5px;
    width: 20px;
    background-color: black;
    margin-top: 23px;
    margin-left: 379px;
    float: left;
}
.bannar-botton{
    text-decoration: none;
    padding: 10px 25px;
    border-radius:20px ;
    color: #fff;
    background-color: #c89559;
    transition: .4s;
}
.bannar-botton:hover{
    color: #c89559;
    background-color: #fff;
}

/*professional-section  */
.professional-section{
    background-color: #fff;
}
.professional-item {
    width: 23%;
    float: left;
    box-shadow: 0px 0px 15px 0px rgb(233, 224, 224);
    margin: 70px 10px;
    padding: 20px 0px;
}
.professional-item h1{
    font-size: 17px;
}
.professional-item p{}
.prefessional-botton a{
    text-decoration: none;
    margin: 30px 0px;
    display: inline-block;
    padding: 10px 25px;
    background-color: #c89559;
    color: #fff;
    border-radius: 8px;
    transition: .4s;
}
.proofessional-icon{
    display: inline-block;
    cursor: pointer;
    transition: .5s; 
}
.professional-item:hover{
    background-color: #e8e6e4;
}
.professional-item:hover .proofessional-icon{
    transform: rotate(360deg) ; 
}
.professional-item:hover .prefessional-botton a{
   color: #c89559;
   background-color: #fff;
}
.prefessional-botton a:hover{
    transform: scale(1.2) ;
    background-color: black !important;
}

/* about-section */
.about-section{
    padding: 70px;
}
.about-video{
    width: 45%;
    float: left;
    margin: 20px;
}
.about-text{
    width: 45%;
    float: left;
    margin: 20px;
}
.about-text a{
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
    padding: 10px 25px;
    color: #fff;
    background-color: black;
    transition: .4s;
}
.about-text a:hover{
    background-color: #c89559;
}

/* from-section */
.form-title{
    width: 45%;
    float: left;
    margin: 20px;
}
.form-image{
    width: 45%;
    float: right;
    margin: 20px;
    background-color: #fff;
}
.form-image img{
    width: 100%;
}
.form-title .name{
    width: 450px;
    padding: 8px 12px;
    box-shadow: 0px 0px 15px 0px rgb(233, 224, 224);
    margin: 5px 0px;
    border: none;
}
.form-botton{
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
    padding: 10px 25px;
    color: #fff;
    background-color: #c89559;
}

/* footer-section */
.footer-section{
    background-color: #6d6d6d;
    padding: 30px 0px;
}
.footer-items{
    color: #fff;
}
.footer-text{
    width: 45%;
    float: left;
}
.footer-text h4 {
    margin: 0px;
    opacity: .7;
}
.footer-icon{
    width: 45%;
    float: right;
}
.footer-icon i{
    font-size: 20px;
    padding: 0px 20px;
    color: #fff;
}



.professional-icon{
    width: 40px;
    display: inline-block;
    cursor: pointer;
    transition: .5s;

}
.icon:hover {
    transform: rotate(360deg) ;
}